[
  {
        "client_id": "diode-ingest",
        "client_secret": "YOUR_DIODE_INGEST_CLIENT_SECRET_HERE",
        "grant_types": ["client_credentials"],
        "scope": "diode:ingest"
    },
  {
        "client_id": "netbox-to-diode",
        "client_secret": "YOUR_NETBOX_TO_DIODE_CLIENT_SECRET_HERE",
        "grant_types": ["client_credentials"],
        "scope": "diode:read diode:write"
    },
  {
        "client_id": "diode-to-netbox",
        "client_secret": "YOUR_DIODE_TO_NETBOX_CLIENT_SECRET_HERE",
        "grant_types": ["client_credentials"],
        "scope": "diode:read diode:write"
    },
  {
        "client_id": "n8n-integration",
        "client_secret": "YOUR_N8N_INTEGRATION_CLIENT_SECRET_HERE",
        "grant_types": ["client_credentials"],
        "scope": "diode:read diode:write diode:ingest"
    }
]
